<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Filtro</title>

   <style>
       .solucao{
           margin-top: 40px;
           text-align: center;
       }

       #chama{
           margin-top: 25px;
       }

       #box{
           background-color: #d4bee4;
           border-radius: 10px;
       }

       #select{
           margin-left: 40px;
       }
   </style>

   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
   <header>
       <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="#">MeChama</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
  </header>

   <div class="container">
       <div class="row">
           <div class="col-6">
               <h2 class="solucao"><strong>Chame a sua solução!</strong></h1>
           </div>
           <div id="chama" class="col-6">
               <img src="/images/chama.png" alt="chama" style="width:60px">
           </div>
       </div><br>

       <div id="box" class="row">
           <div>
                <h4 style="text-align:center; margin-left:50px;margin-top:20px;"><strong>Necessidade de serviço</strong></h4>
                <div class="col-8 m-auto pt-4 pb-5 text-center">
                    <a href="/geo" class="btn text-white" style="background-color: #8352F0">Distância</a><br><br>
                    <a href="/" class="btn text-white" style=" margin-bottom:25px; background-color: #8352F0;">Pontuação</a>
                </div>
           </div>
       </div>
   </div>

    <div class="col-8 m-auto pt-4 pb-5 text-center">
        <a href="/" class="btn text-white" style="background-color: #8352F0">Voltar</a>
    </div>
</body>
</html>